parameters:
	ignoreErrors:
		-
			message: "#^Method QUI\\\\Bricks\\\\Controls\\\\Slider\\\\PromosliderWallpaper2Content\\:\\:addMobileSlide\\(\\) invoked with 1 parameter, 3\\-5 required\\.$#"
			count: 1
			path: ajax/getWallpaperSlider.php

		-
			message: "#^Method QUI\\\\Bricks\\\\Controls\\\\Slider\\\\PromosliderWallpaper2Content\\:\\:addSlide\\(\\) invoked with 1 parameter, 3\\-6 required\\.$#"
			count: 1
			path: ajax/getWallpaperSlider.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Projects\\\\Media\\\\File\\:\\:getImages\\(\\)\\.$#"
			count: 1
			path: src/QUI/Portfolio/Controls/Reference.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Projects\\\\Site\\:\\:__toString\\(\\)\\.$#"
			count: 1
			path: src/QUI/Portfolio/Controls/Reference.php

		-
			message: "#^Method QUI\\\\Portfolio\\\\Controls\\\\Reference\\:\\:getList\\(\\) should return QUI\\\\Projects\\\\Site but returns QUI\\\\Interfaces\\\\Projects\\\\Site\\.$#"
			count: 1
			path: src/QUI/Portfolio/Controls/Reference.php

		-
			message: "#^Method QUI\\\\Portfolio\\\\Controls\\\\Reference\\:\\:getList\\(\\) should return QUI\\\\Projects\\\\Site but returns bool\\|QUI\\\\Interfaces\\\\Projects\\\\Site\\.$#"
			count: 1
			path: src/QUI/Portfolio/Controls/Reference.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Projects\\\\Media\\\\File\\:\\:getImages\\(\\)\\.$#"
			count: 1
			path: src/QUI/Portfolio/Controls/Reference2022.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Projects\\\\Site\\:\\:__toString\\(\\)\\.$#"
			count: 1
			path: src/QUI/Portfolio/Controls/Reference2022.php

		-
			message: "#^Comparison operation \"\\>\" between 0\\|0\\.0\\|''\\|'0'\\|array\\{\\}\\|false\\|null and 0 results in an error\\.$#"
			count: 2
			path: src/QUI/Portfolio/Controls/Reference2022.php

		-
			message: "#^Method QUI\\\\Portfolio\\\\Controls\\\\Reference2022\\:\\:getList\\(\\) should return QUI\\\\Projects\\\\Site\\|null but returns QUI\\\\Interfaces\\\\Projects\\\\Site\\.$#"
			count: 1
			path: src/QUI/Portfolio/Controls/Reference2022.php

		-
			message: "#^Method QUI\\\\Portfolio\\\\Controls\\\\Reference2022\\:\\:getList\\(\\) should return QUI\\\\Projects\\\\Site\\|null but returns bool\\|QUI\\\\Interfaces\\\\Projects\\\\Site\\.$#"
			count: 1
			path: src/QUI/Portfolio/Controls/Reference2022.php
