.qui-portfolio-window-content {
    padding: 0 !important;
}

.qui-portfolio-window-content .quiqqer-porfolio-reference {
    position: relative;
}

.qui-portfolio-window-content .quiqqer-porfolio-reference-content {
    clear: both;
    float: left;
    padding: 0 20px;
    width: 100%;
}

.qui-portfolio-window-content .quiqqer-porfolio-reference-data {
    padding: 0 20px;
}

.qui-portfolio-window-content .quiqqer-porfolio-reference-website {
    padding: 20px 0;
}

.qui-portfolio-window-content .quiqqer-porfolio-reference-website-button {
    display: none;
}

.qui-portfolio-window .qui-window-popup-buttons {
    padding: 0 10px !important;
    font-size: 14px;
}