.qui-window-popup {
    -webkit-overflow-scrolling: touch;
}

.quiqqer-porfolio-reference-windowShort {
    flex-grow: 0;
    float: left; 
    height: 100%;
    width: 100%;

}

.quiqqer-porfolio-reference-windowShort .slider,
.quiqqer-porfolio-reference-windowShort .content {
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
}

.quiqqer-porfolio-reference-windowShort .content {
    overflow-y: auto;
    padding: 20px;
}

.quiqqer-porfolio-reference-windowShort .slider {
    background-size: cover;
}

.quiqqer-porfolio-reference-windowShort-close {
    cursor: pointer;
    background: #fff;
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 40px;
    z-index: 10;
}

@media screen and (max-width: 767px) {
    .qui-window-popup.box {
        overflow-y: auto;
    }

    .quiqqer-porfolio-reference-windowShort .slider,
    .quiqqer-porfolio-reference-windowShort .content {
        width: 100%;
        height: auto;
    }

    .quiqqer-porfolio-reference-windowShort .content {
        overflow-y: hidden;
    }
}

/* bis fontawesome keinen dünnen Closebutton hat wird das verwendet (&times;)*/
.fa-times-thin:before {
    content: '\00d7';
}
