.quiqqer-porfolio-reference-windowShort {
    float: left;
    width: 100%;
}

.quiqqer-porfolio-reference-windowShort .slider,
.quiqqer-porfolio-reference-windowShort .content {
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
}

.quiqqer-porfolio-reference-windowShort .content {
    padding: 20px;
}

.quiqqer-porfolio-reference-windowShort .slider {
    background-size: cover;
}

.quiqqer-porfolio-reference-windowShort-close {
    cursor: pointer;
    background: #fff;
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 40px;
    z-index: 10;
}