
.quiqqer-portfolio-list,
.quiqqer-portfolio-categories {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
}

.quiqqer-portfolio-animate {
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}

/** portfolio categories
 * ===================================================== */

.quiqqer-portfolio-categories {
    margin: 0;
    padding: 0;
}

.quiqqer-portfolio-categories-entry {
    background: #eff0f0;
    border: 1px solid #d6d9d9;
    color: #555;
    cursor: pointer;
    float: left;
    margin: 10px 10px 10px 0;
    padding: 5px 10px;
}

.quiqqer-portfolio-categories-entry:hover {
    opacity: 0.5;
}

.quiqqer-portfolio-category__active {
    border-top: 2px solid red;
}

/** portfolio list
 * ===================================================== */

.quiqqer-portfolio-list-entry {
    float: left;
    height: 300px;
    padding: 10px;
    width: 33.3333%;
}

.quiqqer-portfolio-list-entry figure {
    border: 1px solid #ddd;
    cursor: pointer;
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}

.quiqqer-portfolio-list-entry .quiqqer-icon {
    font-size: 100px;
}

.quiqqer-portfolio-list-entry figure img {
    height: 300px;
    left: 0;
    max-height: 300px;
    min-width: 100%;
    object-fit: cover; /* Fit logo in the image size */
    -o-object-fit: cover; /* Fit logo fro opera browser */
    object-position: top; /* Set logo position */
    -o-object-position: top; /* Logo position for opera browser */
    position: absolute;
    top: 0;
    width: 100%;
}

.quiqqer-portfolio-list-entry figure:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.quiqqer-portfolio-list-entry figure img {
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
    vertical-align: middle;
}

/* design classes */
.quiqqer-portfolio-list-entry-10 {
    width: 10%;
}

.quiqqer-portfolio-list-entry-20 {
    width: 20%;
}

.quiqqer-portfolio-list-entry-33 {
    width: 33.3333%
}

.quiqqer-portfolio-list-entry-50 {
    width: 50%
}

.quiqqer-portfolio-list-entry-100 {
    width: 100%
}

@media screen and (max-width: 767px) {
    .quiqqer-portfolio-list-entry-10 {
        width: 25%;
    }

    .quiqqer-portfolio-list-entry-20 {
        width: 50%;
    }

    .quiqqer-portfolio-list-entry-33 {
        width: 50%;
    }

    .quiqqer-portfolio-list-entry-50 {
        width: 100%;
    }

    .quiqqer-portfolio-list-entry-100 {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .quiqqer-portfolio-list-entry-10 {
        width: 50%;
    }

    .quiqqer-portfolio-list-entry-20 {
        width: 100%;
    }

    .quiqqer-portfolio-list-entry-33 {
        width: 100%;
    }

    .quiqqer-portfolio-list-entry-50 {
        width: 100%;
    }

    .quiqqer-portfolio-list-entry-100 {
        width: 100%;
    }
}