/************************/
/* portfolio categories */
/************************/
.quiqqer-portfolio-list2022-categories {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 var(--qui-spacing-2xl, 3rem) 0;
    padding: 0;
}

.quiqqer-portfolio-list2022-categories-entry {
    text-transform: uppercase;
    margin-right: 1em;
    cursor: pointer;
    color: var(--qui-color-muted);
    position: relative;
    transition: var(--quiqqer-portfolio2022-transition);
}

.quiqqer-portfolio-list2022-category__active,
.quiqqer-portfolio-list2022-categories-entry:hover {
    color: var(--qui-color-body);
    /*color: var(--qui-color-main);*/
}
.quiqqer-portfolio-list2022-categories-random-wrapper {
    display: inline-flex;
}

.quiqqer-portfolio-list2022-categories-random {
    min-width: 50px;
    text-align: center;
}

.quiqqer-portfolio-list2022-categories-random-separator {
    opacity: 0.25;
}

/******************/
/* Portfolio list */
/******************/
.quiqqer-portfolio-list2022 {
    overflow: hidden;  /* gap hack */
}

.quiqqer-portfolio-list2022-entries {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * var(--qui-spacing, 1rem)); /* gap hack */
    position: relative;

    /*display: grid;*/
    grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 1fr));
    /*grid-template-columns: repeat(auto-fill, minmax(min(var(--quiqqer-portfolio2022-entryMinWidthDesktop), 100%), 1fr));*/
    /*gap: var(--qui-spacing, 1rem);*/
}

.quiqqer-portfolio-list2022-entry {
    flex-grow: 1;
    min-width: var(--quiqqer-portfolio2022-entryMinWidthDesktop);
    padding: var(--qui-spacing, 1rem); /* gap hack */
    width: calc(100% / var(--quiqqer-portfolio2022-entriesPerLine, 3));
}

@media screen and (max-width: 767px) {
    .quiqqer-portfolio-list2022-entry {
        min-width: var(--quiqqer-portfolio2022-entryMinWidthMobile);
    }
}

.quiqqer-portfolio-list2022-entry-inner {
    height: 100%;
    position: relative;
}

.quiqqer-portfolio-list2022-entry-inner figure {
    display: block;
    position: relative;
}

.quiqqer-portfolio-list2022-entry-imageContainer {
    aspect-ratio: var(--quiqqer-portfolio2022-aspectRation, 1/1);
    background-color: #f8f8f8;
    display: block;
    height: 100%;
    width: 100%;
}

.quiqqer-portfolio-list2022-entry-imageContainer picture,
.quiqqer-portfolio-list2022-entry-imageContainer img {
    display: block;
    height: 100%;
    object-fit: var(--quiqqer-portfolio2022-imgPosition, cover);
    width: 100%;
}

.quiqqer-portfolio-list2022-entry-inner figure figcaption {
    font-size: 1rem;
}

/* Loader */
.quiqqer-portfolio-list2022-entry-loader {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    font-size: 3rem;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* more button */
.quiqqer-portfolio-more {
    margin-top: var(--qui-spacing-2xl, 3rem);
    text-align: center;
}

/**************************************************************/
/* Skeleton loading effect */
/**************************************************************/
.quiqqer-portfolio-list2022 .skeletonLoadingEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.quiqqer-portfolio-list2022 .skeletonLoadingEffect:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    background-image: linear-gradient(110deg, #ececec 180px, #f3f3f3 250px, #ececec 320px);
    background-size: 2000px 100%;
    animation: quiqqer-portfolio-list2022-skeleton-shining 3s infinite linear;
    background-position: -350px 0;
    background-repeat: no-repeat;
    transition: 500ms opacity ease;
}

.quiqqer-portfolio-list2022 .quiqqer-portfolio-list2022-entry.imageLoaded .skeletonLoadingEffect:after {
    opacity: 0;
}

.quiqqer-portfolio-list2022-entry:not(.imageLoaded) .quiqqer-portfolio-list2022-entry-inner figure {
    visibility: hidden;
    opacity: 0;
}

@keyframes quiqqer-portfolio-list2022-skeleton-shining {
    0% {
        background-position: -300px 0;
    }
    100% {
        background-position: 1700px 0;
    }
}