/* nav */
.quiqqer-portfolio-reference2022-nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: var(--qui-spacing) 0;
    padding: var(--qui-spacing) 0;
}


.quiqqer-portfolio-reference2022-nav-entry {
    color: inherit;
    font-size: var(--qui-fs-sm, 0.875rem);
}

.quiqqer-portfolio-reference2022-nav-entry:not(:hover, .quiqqer-portfolio-reference2022-nav-entry__disabled) {
    opacity: 0.5;
}

.quiqqer-portfolio-reference2022-nav-entry .fa {
    margin: 0 0.5rem;
    font-size: var(--qui-fs-body, 1rem);
}

.quiqqer-portfolio-reference2022-nav-entry__back .fa {
    font-size: var(--qui-fs-lg, 1.5rem);
    vertical-align: middle;
}

.quiqqer-portfolio-reference2022-nav-entry__disabled {
    opacity: 0.25;
}

@media screen and (max-width: 767px) {
    .quiqqer-portfolio-reference2022-nav-entry .fa {
        font-size: var(--qui-fs-lg, 1.5rem);
    }
}

/***********/
/* Content */
/***********/
.quiqqer-portfolio-reference2022-container:not(.quiqqer-portfolio-reference2022-container__nav, .quiqqer-portfolio-reference2022-container__gallery) {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* Page */
.quiqqer-portfolio-reference2022-header {
    text-align: center;
}

/* Main image */
.quiqqer-portfolio-reference2022-mainImage {
    aspect-ratio: var(--quiqqer-portfolio2022-entry-mainImgAspectRatio, auto);
    display: block;
    width: 100%;
    max-width: var(--quiqqer-portfolio2022-entry-mainImgWidth, auto);
    max-height: var(--quiqqer-portfolio2022-entry-mainImgHeight, auto);
    object-fit: cover;
    margin: var(--qui-spacing, 1rem) auto calc(3 * var(--qui-spacing, 1rem));
}

/* Gallery */
.quiqqer-portfolio-reference2022-container__gallery {
    margin-top: calc(4 * var(--qui-spacing, 1rem));
    margin-bottom: calc(4 * var(--qui-spacing, 1rem));
}

/******************/
/* Website banner */
/******************/
.quiqqer-portfolio-reference2022-websiteBanner {
    background: #f5f5f5;
    padding: calc(1.5 * var(--qui-spacing, 1rem));
    display: flex;
    gap: var(--qui-spacing, 1rem);
    flex-wrap: wrap;
    margin-top: calc(1.5 * var(--qui-spacing, 1rem));
    margin-bottom: calc(1.5 * var(--qui-spacing, 1rem));
}

.quiqqer-portfolio-reference2022-websiteBanner-content {
    flex-grow: 1;
    margin-right: var(--qui-spacing, 1rem);
}

/*@media screen and (max-width: 767px) {*/
/*    .quiqqer-portfolio-reference2022-websiteBanner {*/
/*        text-align: center;*/
/*    }*/
/*    */
/*    .quiqqer-portfolio-reference2022-websiteBanner .button {*/
/*        width: 100%;*/
/*    }*/
/*}*/