.quiqqer-porfolio-reference {
    height: 100%;
}

.quiqqer-porfolio-reference-data,
.quiqqer-porfolio-reference-slider {
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
}

.quiqqer-porfolio-reference-slider img.previewImage {
    max-width: 100%;
}

.quiqqer-porfolio-reference-slider {
    background: #333;
    text-align: center;
}

.quiqqer-porfolio-reference-data {
    overflow: auto;
    padding: 20px;
}

.quiqqer-porfolio-reference-data,
.quiqqer-porfolio-reference-data p {
    font-size: 18px;
}

.quiqqer-porfolio-reference-data h1 {
    font-size: 32px;
}
