
.quiqqer-porfolio-reference {
    height: 100%;
}

.quiqqer-porfolio-reference-data {
    clear: both;
    float: left;
    /*height: 100%;*/
    margin-bottom: 20px;
    overflow: auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.quiqqer-porfolio-reference-data-prev,
.quiqqer-porfolio-reference-data-next {
    float: left;
    font-size: 50px;
    opacity: 0.2;
    padding: 20px 0;
    text-align: center;
    width: 30px;
}

a.quiqqer-porfolio-reference-data-prev,
a.quiqqer-porfolio-reference-data-next {
    opacity: 1;
}

.quiqqer-porfolio-reference-data header {
    float: left;
    font-size: 30px;
    padding: 20px 20px 0;
    width: calc(100% - 60px);
}

.quiqqer-porfolio-reference-data,
.quiqqer-porfolio-reference-data p {
    font-size: 18px;
}

.quiqqer-porfolio-reference-data h1 {
    font-size: 32px;
}

.quiqqer-porfolio-reference-content {
    margin-bottom: 20px;
}

.quiqqer-porfolio-reference-close .fa {
    left: 4px;
    position: relative;
    top: -3px;
}

.quiqqer-porfolio-reference__left {
    height: 100%;
}

.quiqqer-porfolio-reference-slider {
    clear: both;
    float: left;
    padding-bottom: 20px;
    width: 100%;
}

.quiqqer-porfolio-reference-website {
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .quiqqer-porfolio-reference-data {
        /*height: calc(100% - 300px);*/
        width: 100%;
    }
}
