
.quiqqer-porfolio-reference {
    height: 100%;
}

.quiqqer-porfolio-reference-data,
.quiqqer-porfolio-reference-slider {
    float: left;
    height: 100%;
    position: relative;
    width: 50%;
}

.quiqqer-porfolio-reference-slider img.previewImage {
    max-width: 100%;
}

.quiqqer-porfolio-reference-slider {
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.quiqqer-porfolio-reference-data {
    overflow: auto;
    padding: 20px;
}

.quiqqer-porfolio-reference-data,
.quiqqer-porfolio-reference-data p {
    font-size: 18px;
}

.quiqqer-porfolio-reference-data h1 {
    font-size: 32px;
}

.quiqqer-porfolio-reference-close {
    border-bottom-left-radius: 30px;
        -webkit-border-bottom-left-radius: 30px;
        -moz-border-radius-bottomleft: 30px;
    cursor: pointer;
    background: #fff;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 40px;
    z-index: 10;
}

.quiqqer-porfolio-reference-close .fa {
    left: 4px;
    position: relative;
    top: -3px;
}

.quiqqer-porfolio-reference__left {
    height: 100%;
}

.quiqqer-porfolio-reference__bottom .quiqqer-porfolio-reference-data,
.quiqqer-porfolio-reference__bottom .quiqqer-porfolio-reference-slider {
    clear: both;
    padding: 0;
    width: 100%;
}

.quiqqer-porfolio-reference__bottom .quiqqer-porfolio-reference-slider {
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .quiqqer-porfolio-reference-slider {
        clear: both;
        height: 300px;
        width: 100%;
    }

    .quiqqer-porfolio-reference-data {
        height: calc(100% - 300px);
        width: 100%;
    }

    .quiqqer-porfolio-reference-slider img {
        max-height: 100%;
    }
}
